.hamburger {
    position: absolute;
    z-index: 15;
    top: 0.4rem;
    left: 1rem;
    padding: 0.4em 0.7em;
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    cursor: pointer;
    border-radius: 0.3rem;
}

@media only screen and (max-width: 600px) {
    .hamburger {
        left: 0.7rem;
        padding: 0.2em 0.3em;
        border-radius: 0.2em;
    }
    .hamburger svg {
        font-size: 0.8rem;
    }
}