.hamburger {
    position: absolute;
    z-index: 15;
    top: 0.4rem;
    left: 1rem;
    padding: 0.4em 0.7em;
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    cursor: pointer;
    border-radius: 0.3rem;
}